# Python / venv
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE / edytory
.idea/
.vscode/
*.iml

# System
.DS_Store

# Baza danych SQLite
*.sqlite3
*.db

# Pliki logów
*.log

# Pliki tymczasowe
*.swp
*.tmp
 